h1, h2, h3, h4, h5 {
	color: #BFAE3F;
}

#def-save, #signup, #login, #log-save {
	background-color: #D9514E;
	border: 1px solid white;
	color: white;
}

.container {
	width: 75% !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.col-xs-12 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

body {
	background-image:url('../components/img/SA.jpeg') no-repeat fixed center center !important;
	-webkit-background-size: 100% 100% !important;
	-moz-background-size: 100% 100% !important;
	background-size: 100% 100% !important;
	-o-background-size: 100% 100% !important;
	color: #BFAE3F;
}